* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Avenir", sans-serif;
  background-color: #2156DB;
}

main {
  height: 60rem;
  flex-direction: column;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#cookie:hover {
  scale: 1.05;
}

#cookie-text {
  margin-top: 2rem;
  font-size: 3.5rem;
  color: #F6F6F6
}